@charset "UTF-8";

@font-face
{
    FONT-FAMILY: "Entypo";
    SRC: url("entypo.woff2") format("woff2"),
         url("entypo.woff") format("woff");
    FONT-WEIGHT: normal;
    FONT-STYLE: normal;
    FONT-DISPLAY: swap;
}

[class^="icon-"],
[class*=" icon-"]
{
    DISPLAY: inline-block;
    FONT-FAMILY: "Entypo";
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: normal;
    MARGIN-RIGHT: calc(var(--cms-hpadding) / 2);
    TEXT-ALIGN: center;
    WIDTH: 1em;
}

.icon-align-left:before { CONTENT: "\e800"; }
.icon-app-store:before { CONTENT: "\e801"; }
.icon-align-horizontal-middle:before { CONTENT: "\e802"; }
.icon-air:before { CONTENT: "\e803"; }
.icon-arrow-bold-down:before { CONTENT: "\e804"; }
.icon-align-top:before { CONTENT: "\e805"; }
.icon-align-right:before { CONTENT: "\e806"; }
.icon-adjust:before { CONTENT: "\e807"; }
.icon-align-bottom:before { CONTENT: "\e808"; }
.icon-aircraft-landing:before { CONTENT: "\e809"; }
.icon-arrow-long-left:before { CONTENT: "\e80a"; }
.icon-archive:before { CONTENT: "\e80b"; }
.icon-aircraft-take-off:before { CONTENT: "\e80c"; }
.icon-arrow-bold-left:before { CONTENT: "\e80d"; }
.icon-aircraft:before { CONTENT: "\e80e"; }
.icon-arrow-left:before { CONTENT: "\e80f"; }
.icon-arrow-down:before { CONTENT: "\e810"; }
.icon-align-vertical-middle:before { CONTENT: "\e811"; }
.icon-arrow-bold-right:before { CONTENT: "\e812"; }
.icon-arrow-right:before { CONTENT: "\e813"; }
.icon-arrow-long-up:before { CONTENT: "\e814"; }
.icon-arrow-bold-up:before { CONTENT: "\e815"; }
.icon-arrow-up:before { CONTENT: "\e816"; }
.icon-arrow-with-circle-up:before { CONTENT: "\e817"; }
.icon-attachment:before { CONTENT: "\e818"; }
.icon-baidu:before { CONTENT: "\e819"; }
.icon-basecamp:before { CONTENT: "\e81a"; }
.icon-arrow-with-circle-down:before { CONTENT: "\e81b"; }
.icon-awareness-ribbon:before { CONTENT: "\e81c"; }
.icon-arrow-with-circle-right:before { CONTENT: "\e81d"; }
.icon-arrow-long-down:before { CONTENT: "\e81e"; }
.icon-behance:before { CONTENT: "\e81f"; }
.icon-back:before { CONTENT: "\e820"; }
.icon-back-in-time:before { CONTENT: "\e821"; }
.icon-arrow-long-right:before { CONTENT: "\e822"; }
.icon-bar-graph:before { CONTENT: "\e823"; }
.icon-arrow-with-circle-left:before { CONTENT: "\e824"; }
.icon-battery:before { CONTENT: "\e825"; }
.icon-beamed-note:before { CONTENT: "\e826"; }
.icon-blackboard:before { CONTENT: "\e827"; }
.icon-bookmarks:before { CONTENT: "\e828"; }
.icon-bell:before { CONTENT: "\e829"; }
.icon-bookmark:before { CONTENT: "\e82a"; }
.icon-book:before { CONTENT: "\e82b"; }
.icon-bowl:before { CONTENT: "\e82c"; }
.icon-box:before { CONTENT: "\e82d"; }
.icon-browser:before { CONTENT: "\e82e"; }
.icon-area-graph:before { CONTENT: "\e82f"; }
.icon-briefcase:before { CONTENT: "\e830"; }
.icon-brush:before { CONTENT: "\e831"; }
.icon-block:before { CONTENT: "\e832"; }
.icon-bucket:before { CONTENT: "\e833"; }
.icon-bug:before { CONTENT: "\e834"; }
.icon-cake:before { CONTENT: "\e835"; }
.icon-calculator:before { CONTENT: "\e836"; }
.icon-calendar:before { CONTENT: "\e837"; }
.icon-camera:before { CONTENT: "\e838"; }
.icon-ccw:before { CONTENT: "\e839"; }
.icon-chat:before { CONTENT: "\e83a"; }
.icon-check:before { CONTENT: "\e83b"; }
.icon-chevron-down:before { CONTENT: "\e83c"; }
.icon-chevron-left:before { CONTENT: "\e83d"; }
.icon-chevron-right:before { CONTENT: "\e83e"; }
.icon-chevron-small-left:before { CONTENT: "\e83f"; }
.icon-chevron-small-down:before { CONTENT: "\e840"; }
.icon-chevron-small-right:before { CONTENT: "\e841"; }
.icon-chevron-small-up:before { CONTENT: "\e842"; }
.icon-chevron-thin-down:before { CONTENT: "\e843"; }
.icon-chevron-thin-left:before { CONTENT: "\e844"; }
.icon-chevron-thin-right:before { CONTENT: "\e845"; }
.icon-chevron-thin-up:before { CONTENT: "\e846"; }
.icon-chevron-up:before { CONTENT: "\e847"; }
.icon-chevron-with-circle-down:before { CONTENT: "\e848"; }
.icon-chevron-with-circle-left:before { CONTENT: "\e849"; }
.icon-chevron-with-circle-up:before { CONTENT: "\e84a"; }
.icon-chevron-with-circle-right:before { CONTENT: "\e84b"; }
.icon-circle:before { CONTENT: "\e84c"; }
.icon-circle-with-cross:before { CONTENT: "\e84d"; }
.icon-circle-with-minus:before { CONTENT: "\e84e"; }
.icon-circle-with-plus:before { CONTENT: "\e84f"; }
.icon-circular-graph:before { CONTENT: "\e850"; }
.icon-clapperboard:before { CONTENT: "\e851"; }
.icon-classic-computer:before { CONTENT: "\e852"; }
.icon-clock:before { CONTENT: "\e853"; }
.icon-clipboard:before { CONTENT: "\e854"; }
.icon-cloud:before { CONTENT: "\e855"; }
.icon-code:before { CONTENT: "\e856"; }
.icon-cog:before { CONTENT: "\e857"; }
.icon-colours:before { CONTENT: "\e858"; }
.icon-compass:before { CONTENT: "\e859"; }
.icon-controller-fast-backward:before { CONTENT: "\e85a"; }
.icon-controller-fast-forward:before { CONTENT: "\e85b"; }
.icon-controller-jump-to-start:before { CONTENT: "\e85c"; }
.icon-controller-next:before { CONTENT: "\e85d"; }
.icon-controller-play:before { CONTENT: "\e85e"; }
.icon-controller-pause:before { CONTENT: "\e85f"; }
.icon-controller-record:before { CONTENT: "\e860"; }
.icon-controller-stop:before { CONTENT: "\e861"; }
.icon-copy:before { CONTENT: "\e862"; }
.icon-controller-volume:before { CONTENT: "\e863"; }
.icon-creative-cloud:before { CONTENT: "\e864"; }
.icon-creative-commons:before { CONTENT: "\e865"; }
.icon-creative-commons-attribution:before { CONTENT: "\e866"; }
.icon-creative-commons-noderivs:before { CONTENT: "\e867"; }
.icon-creative-commons-noncommercial-eu:before { CONTENT: "\e868"; }
.icon-creative-commons-noncommercial-us:before { CONTENT: "\e869"; }
.icon-creative-commons-public-domain:before { CONTENT: "\e86a"; }
.icon-creative-commons-remix:before { CONTENT: "\e86b"; }
.icon-creative-commons-share:before { CONTENT: "\e86c"; }
.icon-creative-commons-sharealike:before { CONTENT: "\e86d"; }
.icon-credit:before { CONTENT: "\e86e"; }
.icon-credit-card:before { CONTENT: "\e86f"; }
.icon-crop:before { CONTENT: "\e870"; }
.icon-cross:before { CONTENT: "\e871"; }
.icon-cup:before { CONTENT: "\e872"; }
.icon-cw:before { CONTENT: "\e873"; }
.icon-cycle:before { CONTENT: "\e874"; }
.icon-database:before { CONTENT: "\e875"; }
.icon-dial-pad:before { CONTENT: "\e876"; }
.icon-direction:before { CONTENT: "\e877"; }
.icon-document:before { CONTENT: "\e878"; }
.icon-document-landscape:before { CONTENT: "\e879"; }
.icon-documents:before { CONTENT: "\e87a"; }
.icon-dot-single:before { CONTENT: "\e87b"; }
.icon-dots-three-horizontal:before { CONTENT: "\e87c"; }
.icon-dots-three-vertical:before { CONTENT: "\e87d"; }
.icon-dots-two-horizontal:before { CONTENT: "\e87e"; }
.icon-dots-two-vertical:before { CONTENT: "\e87f"; }
.icon-download:before { CONTENT: "\e880"; }
.icon-dribbble:before { CONTENT: "\e881"; }
.icon-dribbble-with-circle:before { CONTENT: "\e882"; }
.icon-drink:before { CONTENT: "\e883"; }
.icon-drive:before { CONTENT: "\e884"; }
.icon-drop:before { CONTENT: "\e885"; }
.icon-dropbox:before { CONTENT: "\e886"; }
.icon-edit:before { CONTENT: "\e887"; }
.icon-email:before { CONTENT: "\e888"; }
.icon-emoji-flirt:before { CONTENT: "\e889"; }
.icon-emoji-happy:before { CONTENT: "\e88a"; }
.icon-emoji-neutral:before { CONTENT: "\e88b"; }
.icon-emoji-sad:before { CONTENT: "\e88c"; }
.icon-erase:before { CONTENT: "\e88d"; }
.icon-eraser:before { CONTENT: "\e88e"; }
.icon-evernote:before { CONTENT: "\e88f"; }
.icon-export:before { CONTENT: "\e890"; }
.icon-eye:before { CONTENT: "\e891"; }
.icon-eye-with-line:before { CONTENT: "\e892"; }
.icon-facebook:before { CONTENT: "\e893"; }
.icon-facebook-with-circle:before { CONTENT: "\e894"; }
.icon-feather:before { CONTENT: "\e895"; }
.icon-fingerprint:before { CONTENT: "\e896"; }
.icon-flag:before { CONTENT: "\e897"; }
.icon-flash:before { CONTENT: "\e898"; }
.icon-flashlight:before { CONTENT: "\e899"; }
.icon-flat-brush:before { CONTENT: "\e89a"; }
.icon-flattr:before { CONTENT: "\e89b"; }
.icon-flickr:before { CONTENT: "\e89c"; }
.icon-flickr-with-circle:before { CONTENT: "\e89d"; }
.icon-flow-branch:before { CONTENT: "\e89e"; }
.icon-flow-cascade:before { CONTENT: "\e89f"; }
.icon-flower:before { CONTENT: "\e8a0"; }
.icon-flow-line:before { CONTENT: "\e8a1"; }
.icon-flow-parallel:before { CONTENT: "\e8a2"; }
.icon-flow-tree:before { CONTENT: "\e8a3"; }
.icon-folder:before { CONTENT: "\e8a4"; }
.icon-folder-images:before { CONTENT: "\e8a5"; }
.icon-folder-music:before { CONTENT: "\e8a6"; }
.icon-folder-video:before { CONTENT: "\e8a7"; }
.icon-forward:before { CONTENT: "\e8a8"; }
.icon-foursquare:before { CONTENT: "\e8a9"; }
.icon-funnel:before { CONTENT: "\e8aa"; }
.icon-game-controller:before { CONTENT: "\e8ab"; }
.icon-gauge:before { CONTENT: "\e8ac"; }
.icon-github:before { CONTENT: "\e8ad"; }
.icon-github-with-circle:before { CONTENT: "\e8ae"; }
.icon-globe:before { CONTENT: "\e8af"; }
.icon-google:before { CONTENT: "\e8b0"; }
.icon-google-with-circle:before { CONTENT: "\e8b1"; }
.icon-google-drive:before { CONTENT: "\e8b2"; }
.icon-google-hangouts:before { CONTENT: "\e8b3"; }
.icon-google-play:before { CONTENT: "\e8b4"; }
.icon-graduation-cap:before { CONTENT: "\e8b5"; }
.icon-grid:before { CONTENT: "\e8b6"; }
.icon-grooveshark:before { CONTENT: "\e8b7"; }
.icon-hair-cross:before { CONTENT: "\e8b8"; }
.icon-hand:before { CONTENT: "\e8b9"; }
.icon-heart:before { CONTENT: "\e8ba"; }
.icon-heart-outlined:before { CONTENT: "\e8bb"; }
.icon-help:before { CONTENT: "\e8bc"; }
.icon-help-with-circle:before { CONTENT: "\e8bd"; }
.icon-home:before { CONTENT: "\e8be"; }
.icon-hour-glass:before { CONTENT: "\e8bf"; }
.icon-houzz:before { CONTENT: "\e8c0"; }
.icon-icloud:before { CONTENT: "\e8c1"; }
.icon-image:before { CONTENT: "\e8c2"; }
.icon-image-inverted:before { CONTENT: "\e8c3"; }
.icon-images:before { CONTENT: "\e8c4"; }
.icon-inbox:before { CONTENT: "\e8c5"; }
.icon-infinity:before { CONTENT: "\e8c6"; }
.icon-info:before { CONTENT: "\e8c7"; }
.icon-info-with-circle:before { CONTENT: "\e8c8"; }
.icon-instagram:before { CONTENT: "\e8c9"; }
.icon-instagram-with-circle:before { CONTENT: "\e8ca"; }
.icon-install:before { CONTENT: "\e8cb"; }
.icon-key:before { CONTENT: "\e8cc"; }
.icon-keyboard:before { CONTENT: "\e8cd"; }
.icon-lab-flask:before { CONTENT: "\e8ce"; }
.icon-landline:before { CONTENT: "\e8cf"; }
.icon-language:before { CONTENT: "\e8d0"; }
.icon-laptop:before { CONTENT: "\e8d1"; }
.icon-lastfm:before { CONTENT: "\e8d2"; }
.icon-lastfm-with-circle:before { CONTENT: "\e8d3"; }
.icon-layers:before { CONTENT: "\e8d4"; }
.icon-leaf:before { CONTENT: "\e8d5"; }
.icon-level-down:before { CONTENT: "\e8d6"; }
.icon-level-up:before { CONTENT: "\e8d7"; }
.icon-lifebuoy:before { CONTENT: "\e8d8"; }
.icon-light-bulb:before { CONTENT: "\e8d9"; }
.icon-light-down:before { CONTENT: "\e8da"; }
.icon-light-up:before { CONTENT: "\e8db"; }
.icon-line-graph:before { CONTENT: "\e8dc"; }
.icon-link:before { CONTENT: "\e8dd"; }
.icon-linkedin:before { CONTENT: "\e8de"; }
.icon-linkedin-with-circle:before { CONTENT: "\e8df"; }
.icon-list:before { CONTENT: "\e8e0"; }
.icon-location:before { CONTENT: "\e8e1"; }
.icon-location-pin:before { CONTENT: "\e8e2"; }
.icon-lock:before { CONTENT: "\e8e3"; }
.icon-lock-open:before { CONTENT: "\e8e4"; }
.icon-login:before { CONTENT: "\e8e5"; }
.icon-log-out:before { CONTENT: "\e8e6"; }
.icon-loop:before { CONTENT: "\e8e7"; }
.icon-magnet:before { CONTENT: "\e8e8"; }
.icon-magnifying-glass:before { CONTENT: "\e8e9"; }
.icon-mail:before { CONTENT: "\e8ea"; }
.icon-mail-with-circle:before { CONTENT: "\e8eb"; }
.icon-man:before { CONTENT: "\e8ec"; }
.icon-map:before { CONTENT: "\e8ed"; }
.icon-mask:before { CONTENT: "\e8ee"; }
.icon-medal:before { CONTENT: "\e8ef"; }
.icon-medium:before { CONTENT: "\e8f0"; }
.icon-medium-with-circle:before { CONTENT: "\e8f1"; }
.icon-megaphone:before { CONTENT: "\e8f2"; }
.icon-menu:before { CONTENT: "\e8f3"; }
.icon-merge:before { CONTENT: "\e8f4"; }
.icon-message:before { CONTENT: "\e8f5"; }
.icon-mic:before { CONTENT: "\e8f6"; }
.icon-minus:before { CONTENT: "\e8f7"; }
.icon-mixi:before { CONTENT: "\e8f8"; }
.icon-mobile:before { CONTENT: "\e8f9"; }
.icon-modern-mic:before { CONTENT: "\e8fa"; }
.icon-moon:before { CONTENT: "\e8fb"; }
.icon-mouse:before { CONTENT: "\e8fc"; }
.icon-mouse-pointer:before { CONTENT: "\e8fd"; }
.icon-music:before { CONTENT: "\e8fe"; }
.icon-network:before { CONTENT: "\e8ff"; }
.icon-new:before { CONTENT: "\e900"; }
.icon-new-message:before { CONTENT: "\e901"; }
.icon-news:before { CONTENT: "\e902"; }
.icon-newsletter:before { CONTENT: "\e903"; }
.icon-note:before { CONTENT: "\e904"; }
.icon-notification:before { CONTENT: "\e905"; }
.icon-notifications-off:before { CONTENT: "\e906"; }
.icon-old-mobile:before { CONTENT: "\e907"; }
.icon-old-phone:before { CONTENT: "\e908"; }
.icon-onedrive:before { CONTENT: "\e909"; }
.icon-open-book:before { CONTENT: "\e90a"; }
.icon-palette:before { CONTENT: "\e90b"; }
.icon-paper-plane:before { CONTENT: "\e90c"; }
.icon-paypal:before { CONTENT: "\e90d"; }
.icon-pencil:before { CONTENT: "\e90e"; }
.icon-phone:before { CONTENT: "\e90f"; }
.icon-picasa:before { CONTENT: "\e910"; }
.icon-pie-chart:before { CONTENT: "\e911"; }
.icon-pin:before { CONTENT: "\e912"; }
.icon-pinterest:before { CONTENT: "\e913"; }
.icon-pinterest-with-circle:before { CONTENT: "\e914"; }
.icon-plus:before { CONTENT: "\e915"; }
.icon-popup:before { CONTENT: "\e916"; }
.icon-power-plug:before { CONTENT: "\e917"; }
.icon-price-ribbon:before { CONTENT: "\e918"; }
.icon-price-tag:before { CONTENT: "\e919"; }
.icon-print:before { CONTENT: "\e91a"; }
.icon-progress-empty:before { CONTENT: "\e91b"; }
.icon-progress-full:before { CONTENT: "\e91c"; }
.icon-progress-one:before { CONTENT: "\e91d"; }
.icon-progress-two:before { CONTENT: "\e91e"; }
.icon-publish:before { CONTENT: "\e91f"; }
.icon-qq:before { CONTENT: "\e920"; }
.icon-qq-with-circle:before { CONTENT: "\e921"; }
.icon-quote:before { CONTENT: "\e922"; }
.icon-radio:before { CONTENT: "\e923"; }
.icon-raft:before { CONTENT: "\e924"; }
.icon-raft-with-circle:before { CONTENT: "\e925"; }
.icon-rainbow:before { CONTENT: "\e926"; }
.icon-rdio:before { CONTENT: "\e927"; }
.icon-rdio-with-circle:before { CONTENT: "\e928"; }
.icon-remove-user:before { CONTENT: "\e929"; }
.icon-renren:before { CONTENT: "\e92a"; }
.icon-reply:before { CONTENT: "\e92b"; }
.icon-reply-all:before { CONTENT: "\e92c"; }
.icon-resize-100:before { CONTENT: "\e92d"; }
.icon-resize-full-screen:before { CONTENT: "\e92e"; }
.icon-retweet:before { CONTENT: "\e92f"; }
.icon-rocket:before { CONTENT: "\e930"; }
.icon-round-brush:before { CONTENT: "\e931"; }
.icon-rss:before { CONTENT: "\e932"; }
.icon-ruler:before { CONTENT: "\e933"; }
.icon-save:before { CONTENT: "\e934"; }
.icon-scissors:before { CONTENT: "\e935"; }
.icon-scribd:before { CONTENT: "\e936"; }
.icon-select-arrows:before { CONTENT: "\e937"; }
.icon-share:before { CONTENT: "\e938"; }
.icon-shareable:before { CONTENT: "\e939"; }
.icon-share-alternative:before { CONTENT: "\e93a"; }
.icon-shield:before { CONTENT: "\e93b"; }
.icon-shop:before { CONTENT: "\e93c"; }
.icon-shopping-bag:before { CONTENT: "\e93d"; }
.icon-shopping-basket:before { CONTENT: "\e93e"; }
.icon-shopping-cart:before { CONTENT: "\e93f"; }
.icon-shuffle:before { CONTENT: "\e940"; }
.icon-signal:before { CONTENT: "\e941"; }
.icon-sina-weibo:before { CONTENT: "\e942"; }
.icon-skype:before { CONTENT: "\e943"; }
.icon-skype-with-circle:before { CONTENT: "\e944"; }
.icon-slideshare:before { CONTENT: "\e945"; }
.icon-smashing:before { CONTENT: "\e946"; }
.icon-sound:before { CONTENT: "\e947"; }
.icon-soundcloud:before { CONTENT: "\e948"; }
.icon-sound-mix:before { CONTENT: "\e949"; }
.icon-sound-mute:before { CONTENT: "\e94a"; }
.icon-sports-club:before { CONTENT: "\e94b"; }
.icon-spotify:before { CONTENT: "\e94c"; }
.icon-spotify-with-circle:before { CONTENT: "\e94d"; }
.icon-spreadsheet:before { CONTENT: "\e94e"; }
.icon-squared-cross:before { CONTENT: "\e94f"; }
.icon-squared-minus:before { CONTENT: "\e950"; }
.icon-squared-plus:before { CONTENT: "\e951"; }
.icon-star:before { CONTENT: "\e952"; }
.icon-star-outlined:before { CONTENT: "\e953"; }
.icon-stopwatch:before { CONTENT: "\e954"; }
.icon-stumbleupon:before { CONTENT: "\e955"; }
.icon-stumbleupon-with-circle:before { CONTENT: "\e956"; }
.icon-suitcase:before { CONTENT: "\e957"; }
.icon-swap:before { CONTENT: "\e958"; }
.icon-swarm:before { CONTENT: "\e959"; }
.icon-sweden:before { CONTENT: "\e95a"; }
.icon-switch:before { CONTENT: "\e95b"; }
.icon-tablet:before { CONTENT: "\e95c"; }
.icon-tablet-mobile-combo:before { CONTENT: "\e95d"; }
.icon-tag:before { CONTENT: "\e95e"; }
.icon-text:before { CONTENT: "\e95f"; }
.icon-text-document:before { CONTENT: "\e960"; }
.icon-text-document-inverted:before { CONTENT: "\e961"; }
.icon-thermometer:before { CONTENT: "\e962"; }
.icon-thumbs-down:before { CONTENT: "\e963"; }
.icon-thumbs-up:before { CONTENT: "\e964"; }
.icon-thunder-cloud:before { CONTENT: "\e965"; }
.icon-ticket:before { CONTENT: "\e966"; }
.icon-time-slot:before { CONTENT: "\e967"; }
.icon-tools:before { CONTENT: "\e968"; }
.icon-traffic-cone:before { CONTENT: "\e969"; }
.icon-trash:before { CONTENT: "\e96a"; }
.icon-tree:before { CONTENT: "\e96b"; }
.icon-triangle-down:before { CONTENT: "\e96c"; }
.icon-triangle-left:before { CONTENT: "\e96d"; }
.icon-triangle-right:before { CONTENT: "\e96e"; }
.icon-triangle-up:before { CONTENT: "\e96f"; }
.icon-tripadvisor:before { CONTENT: "\e970"; }
.icon-trophy:before { CONTENT: "\e971"; }
.icon-tumblr:before { CONTENT: "\e972"; }
.icon-tumblr-with-circle:before { CONTENT: "\e973"; }
.icon-tv:before { CONTENT: "\e974"; }
.icon-twitter:before { CONTENT: "\e975"; }
.icon-twitter-with-circle:before { CONTENT: "\e976"; }
.icon-typing:before { CONTENT: "\e977"; }
.icon-uninstall:before { CONTENT: "\e978"; }
.icon-unread:before { CONTENT: "\e979"; }
.icon-untag:before { CONTENT: "\e97a"; }
.icon-upload:before { CONTENT: "\e97b"; }
.icon-upload-to-cloud:before { CONTENT: "\e97c"; }
.icon-user:before { CONTENT: "\e97d"; }
.icon-users:before { CONTENT: "\e97e"; }
.icon-v-card:before { CONTENT: "\e97f"; }
.icon-video:before { CONTENT: "\e980"; }
.icon-video-camera:before { CONTENT: "\e981"; }
.icon-vimeo:before { CONTENT: "\e982"; }
.icon-vimeo-with-circle:before { CONTENT: "\e983"; }
.icon-vine:before { CONTENT: "\e984"; }
.icon-vine-with-circle:before { CONTENT: "\e985"; }
.icon-vinyl:before { CONTENT: "\e986"; }
.icon-vk:before { CONTENT: "\e987"; }
.icon-vk-alternitive:before { CONTENT: "\e988"; }
.icon-vk-with-circle:before { CONTENT: "\e989"; }
.icon-voicemail:before { CONTENT: "\e98a"; }
.icon-wallet:before { CONTENT: "\e98b"; }
.icon-warning:before { CONTENT: "\e98c"; }
.icon-water:before { CONTENT: "\e98d"; }
.icon-windows-store:before { CONTENT: "\e98e"; }
.icon-xing:before { CONTENT: "\e98f"; }
.icon-xing-with-circle:before { CONTENT: "\e990"; }
.icon-yelp:before { CONTENT: "\e991"; }
.icon-youko:before { CONTENT: "\e992"; }
.icon-youko-with-circle:before { CONTENT: "\e993"; }
.icon-youtube:before { CONTENT: "\e994"; }
.icon-youtube-with-circle:before { CONTENT: "\e995"; }
.icon-500px:before { CONTENT: "\e996"; }
.icon-500px-with-circle:before { CONTENT: "\e997"; }
.icon-address:before { CONTENT: "\e998"; }
.icon-add-to-list:before { CONTENT: "\e999"; }
.icon-add-user:before { CONTENT: "\e99a"; }