/* light */
@font-face
{
    FONT-FAMILY: "Merriweather";
    SRC: url("merriweather-light.woff2") format("woff2"),
         url("merriweather-light.woff") format("woff");
    FONT-WEIGHT: 300;
    FONT-STYLE: normal;
    FONT-DISPLAY: swap;
}

@font-face
{
    FONT-FAMILY: "Merriweather";
    SRC: url("merriweather-light-italic.woff2") format("woff2"),
         url("merriweather-light-italic.woff") format("woff");
    FONT-WEIGHT: 300;
    FONT-STYLE: italic;
    FONT-DISPLAY: swap;
}

/* regular */
@font-face
{
    FONT-FAMILY: "Merriweather";
    SRC: url("merriweather-regular.woff2") format("woff2"),
         url("merriweather-regular.woff") format("woff");
    FONT-WEIGHT: 400;
    FONT-STYLE: normal;
    FONT-DISPLAY: swap;
}

@font-face
{
    FONT-FAMILY: "Merriweather";
    SRC: url("merriweather-regular-italic.woff2") format("woff2"),
         url("merriweather-regular-italic.woff") format("woff");
    FONT-WEIGHT: 400;
    FONT-STYLE: italic;
    FONT-DISPLAY: swap;
}

/* bold */
@font-face
{
    FONT-FAMILY: "Merriweather";
    SRC: url("merriweather-bold.woff2") format("woff2"),
         url("merriweather-bold.woff") format("woff");
    FONT-WEIGHT: 700;
    FONT-STYLE: normal;
    FONT-DISPLAY: swap;
}

@font-face
{
    FONT-FAMILY: "Merriweather";
    SRC: url("merriweather-bold-italic.woff2") format("woff2"),
         url("merriweather-bold-italic.woff") format("woff");
    FONT-WEIGHT: 700;
    FONT-STYLE: italic;
    FONT-DISPLAY: swap;
}


/* black */
@font-face
{
    FONT-FAMILY: "Merriweather";
    SRC: url("merriweather-black.woff2") format("woff2"),
         url("merriweather-black.woff") format("woff");
    FONT-WEIGHT: 900;
    FONT-STYLE: normal;
    FONT-DISPLAY: swap;
}

@font-face
{
    FONT-FAMILY: "Merriweather";
    SRC: url("merriweather-black-italic.woff2") format("woff2"),
         url("merriweather-black-italic.woff") format("woff");
    FONT-WEIGHT: 900;
    FONT-STYLE: italic;
    FONT-DISPLAY: swap;
}